In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from scipy import stats

In [2]:
cricdata = pd.read_csv("/Users/meetsudra/Documents/GitHub/myprojects/datasets/ICC Test Bat 3001 copy.csv")
cricdata

,Player,Span,Mat,Inn,NO,Runs,HS,Avg,100,50,0,Player Profile
0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248*,53.78,51,68,14,http://stats.espncricinfo.com/ci/content/playe...
1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,17,http://stats.espncricinfo.com/ci/content/playe...
2,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,45,58,16,http://stats.espncricinfo.com/ci/content/playe...
3,R Dravid (ICC/INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,8,http://stats.espncricinfo.com/ci/content/playe...
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9,http://stats.espncricinfo.com/ci/content/playe...
...,...,...,...,...,...,...,...,...,...,...,...,...
2996,CA Snedden (NZ),1947-1947,1,-,-,-,-,-,-,-,-,http://stats.espncricinfo.com/ci/content/playe...
2997,VN Swamy (INDIA),1955-1955,1,-,-,-,-,-,-,-,-,http://stats.espncricinfo.com/ci/content/playe...
2998,Usman Shinwari (PAK),2019-2019,1,-,-,-,-,-,-,-,-,http://stats.espncricinfo.com/ci/content/playe...
2999,CM Willoughby (SA),2003-2003,2,-,-,-,-,-,-,-,-,http://stats.espncricinfo.com/ci/content/playe...
3000,JW Wilson (AUS),1956-1956,1,-,-,-,-,-,-,-,-,http://stats.espncricinfo.com/ci/content/playe...

#### removing profile column

In [3]:
cricdata.drop(columns="Player Profile",inplace=True)

#### removing rows which have null values

In [4]:
cricdata.tail(20)
cricdata.drop(index=range(2981,3001),inplace=True)

In [5]:
cricdata.tail(20)

                       Player       Span  Mat Inn NO Runs  HS Avg 100 50  0
2961            RL Park (AUS)  1920-1921    1   1  0    0   0   0   0  0  1
2962        RGM Patel (INDIA)  1988-1988    1   2  0    0   0   0   0  0  2
2963           KK Peters (WI)  2014-2014    1   1  0    0   0   0   0  0  1
2964          HJ Rhodes (ENG)  1959-1959    2   1  1    0  0*   -   0  0  0
2965          LA Roberts (WI)  1999-1999    1   1  0    0   0   0   0  0  1
2966             CG Rowe (NZ)  1946-1946    1   2  0    0   0   0   0  0  2
2967          CJ Sayers (AUS)  2018-2018    1   2  0    0   0   0   0  0  2
2968       TAP Sekhar (INDIA)  1983-1983    2   1  1    0  0*   -   0  0  0
2969        RHD Sellers (AUS)  1964-1964    1   1  0    0   0   0   0  0  1
2970          R Singh (INDIA)  1999-1999    1   1  0    0   0   0   0  0  1
2971           SD Snooke (SA)  1907-1907    1   1  0    0   0   0   0  0  1
2972         HM Thurlow (AUS)  1932-1932    1   1  0    0   0   0   0  0  1
2973          LR Tuckett (SA)  1914-1914    1   2  1    0  0*   0   0  0  1
2974  PS Twentyman-Jones (SA)  1902-1902    1   2  0    0   0   0   0  0  2
2975           EJ Tyler (ENG)  1896-1896    1   1  0    0   0   0   0  0  1
2976  M Venkataramana (INDIA)  1989-1989    1   2  2    0  0*   -   0  0  0
2977           DW White (ENG)  1961-1962    2   2  0    0   0   0   0  0  2
2978           P Wilson (AUS)  1998-1998    1   2  2    0  0*   -   0  0  0
2979           CS Wimble (SA)  1892-1892    1   2  0    0   0   0   0  0  2
2980         Zahir Khan (AFG)  2019-2019    2   4  3    0  0*   0   0  0  1

In [6]:
cricdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2981 entries, 0 to 2980
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2981 non-null   object
 1   Span    2981 non-null   object
 2   Mat     2981 non-null   int64
 3   Inn     2981 non-null   object
 4   NO      2981 non-null   object
 5   Runs    2981 non-null   object
 6   HS      2981 non-null   object
 7   Avg     2981 non-null   object
 8   100     2981 non-null   object
 9   50      2981 non-null   object
 10  0       2981 non-null   object
dtypes: int64(1), object(10)
memory usage: 256.3+ KB

#### converting object column to numeric

In [7]:
cols = ["Inn","NO","Runs","HS","Avg","100","50",'0']
for col in cols :
    cricdata[col] = cricdata[col].astype(str).str.replace(r"[^0-9]","",regex=True)
    cricdata[col] = pd.to_numeric(cricdata[col])

#### replacing "-" and "NaN" stored as string in the column

In [8]:
for col in cols :
    cricdata[col] = cricdata[col].replace(["NaN","-"],pd.NA)

In [9]:
cricdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2981 entries, 0 to 2980
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2981 non-null   object
 1   Span    2981 non-null   object
 2   Mat     2981 non-null   int64
 3   Inn     2981 non-null   int64
 4   NO      2981 non-null   int64
 5   Runs    2981 non-null   int64
 6   HS      2981 non-null   int64
 7   Avg     2913 non-null   float64
 8   100     2981 non-null   int64
 9   50      2981 non-null   int64
 10  0       2981 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 256.3+ KB

#### Split "Span" column and convert it to numeric column

In [10]:
cricdata["Span"].dtype

cricdata[["Startdate","Lastdate"]] = cricdata["Span"].str.split("-",expand=True)
cricdata["Startdate"] = pd.to_numeric(cricdata["Startdate"])
cricdata["Lastdate"] = pd.to_numeric(cricdata["Lastdate"])

#### Reorder columns

In [11]:
cols = ["Player","Startdate","Lastdate"] + [col for col in cricdata.columns if col not in ['Player', 'Startdate', 'Lastdate']] 
cricdata = cricdata[cols]

# removing span col 
cricdata.drop(columns="Span",inplace=True)

/var/folders/8h/xtp_v7md6bs9195xxzbbf5d80000gn/T/ipykernel_4027/3560133042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cricdata.drop(columns="Span",inplace=True)